@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; //я хз)
}

.container {
    margin: 0 auto;
    width: 960px;
}

p{
    margin-bottom: 0;
}

@import "base/slick";
@import "base/variables";
@import "blocks/menu";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/catalog";
@import "blocks/table";
@import "blocks/reviews";
@import "blocks/info";
@import "blocks/delivery";
@import "blocks/footer";
@import "blocks/pageup";
@import "blocks/call";
@import "blocks/media";