.catalog {
    margin-top: 200px;
    height: 1030px;

    &_wrapper {
        display: grid;
        grid-template-columns: 627px 293px;
        column-gap: 40px;

    }

    &_img {
        display: grid;
        grid-template-columns: 403px 209px;
        grid-template-rows: 252px 252px;
        gap: 13px;

        &_view {
            grid-row: 1/3;
        }
    }

    &_header {
        grid-column: 2/3;
        grid-row: 1/3;

        span {
            display: block;
            width: 100%;
            height: 1px;
            background: rgba(25, 52, 79, 1);
            border-radius: 100%;
            margin-top: 12px;
        }
    }

    &_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 2/3;
        grid-row: 1/3;

        &_title {
            font-weight: 400;
            font-size: 32px;
            line-height: 39px;
            color: $main-color;
        }

        &_price {
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: rgba(25, 52, 79, 0.85);
        }

        .size_wrapper {
            margin-top: 115px;
        }

        .size_title {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: rgba(25, 52, 79, 0.85);
        }

        .size_text {
            margin-top: 16px;
            width: 140px;
            display: flex;
            justify-content: space-between;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $main-color;
        }

        .color_wrapper {
            margin-top: 31px;
        }

        .color_title {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: rgba(25, 52, 79, 0.85);
        }

        .color_item {
            margin-top: 15px;
            width: 222px;
            display: flex;
            justify-content: space-between;

            &_black {
                width: 71px;
                height: 11px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 13px;
                    height: 6px;
                }
            }

            &_brown {
                width: 71px;
                height: 11px;
                background-color: #81604D;
            }

            &_body {
                width: 71px;
                height: 11px;
                background-color: #E1D5B7;
            }
        }
    }

    &_descr {
        margin-top: 38px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(25, 52, 79, 0.85);
    }
    span {
            display: block;
            width: 100%;
            height: 1px;
            background: rgba(25, 52, 79, 1);
            border-radius: 100%;
            margin-top: 12px;
        }
    &_btn {
        margin-top: 10px;
    }

    .slick_wrapper {
        padding-top: 145px;
    }
}