.info {
    height: 800px;
    padding-top: 95px;
    background: $background-color;

    &_title {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.27em;
        color: $main-color;
    }

    span {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 501px;
        height: 1px;
        background: $main-color;
        border-radius: 100%;
    }
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_text {
        margin-top: 95px;
        width: 792px;
        
        font-weight: 300;
        font-size: 24px;
        line-height: 160.4%;
        text-align: center;
        letter-spacing: 0.255em;

        color: $main-color;
    }

    &_subtext {
        margin-top: 95px;
        width: 626px;
        
        font-weight: 300;
        font-size: 24px;
        line-height: 149.4%;
        text-align: center;
        letter-spacing: 0.255em;
        color: $main-color;
    }
}